<html>

	<head>
		<title>Test Excel4Node</title>
		<style>
			input[type="submit"], button {
				border:0 none;
				font-size: 30px;
			}
		</style>
	</head>

	<body>
		<a href="index.html">Test ExcelJs</a><br>
		<a href="test-client.html">Test Client side HTML -> Excel</a><br>
		<h2>Test Excel4Node</h2>

		<form 
			action="/excel4node/generate" 
			method="POST"
		>
			<fieldset>
				<legend>File name</legend>
				<input 
					type="text" 
					style="font-size:20px" 
					size="100" 
					name="filename" 
					placeholder="Enter file name"
				>

				<legend>Input Data</legend>
				<textarea 
					placeholder="Enter data that can be input to JSON.parse() e.g. [[1,2,3], [4,5,6]]" 
					name="data" 
					rows="8" 
					cols="100" 
					id="dataTextarea" 
					style="font-size:20px"
				></textarea>

				<br><br>

				<input 
					type="submit" 
				>
			</fieldset>

		</form>


		<h2>Test Large File</h2>
		<button onclick="addData()">Test</button>
		<script src='jquery-3.1.1.min.js'></script>
		<script>

		// function shuffle(array) {
		//   var currentIndex = array.length, temporaryValue, randomIndex;

		//   // While there remain elements to shuffle...
		//   while (0 !== currentIndex) {

		//     // Pick a remaining element...
		//     randomIndex = Math.floor(Math.random() * currentIndex);
		//     currentIndex -= 1;

		//     // And swap it with the current element.
		//     temporaryValue = array[currentIndex];
		//     array[currentIndex] = array[randomIndex];
		//     array[randomIndex] = temporaryValue;
		//   }

		//   return array;
		// };

		function addData(){
			var names = ['Jane', 'Justin', 'Adam', 'John', 'Jeff', 'Brad', 'Oliver', 'Peter', 'Alice', 'Bob', 'Eve']
			var fruits = ['apple', 'banana', 'pineapple', 'grapes', 'orange', 'blueberry', 'strawberry', 17];
			var fruitStyles = [
				{
					font: {
						bold: true,
						color: 'red'
					},
					alignment: {
						horizontal: 'center'
					}
				},
				{
					fill: {
			            type: 'pattern',
			            patternType: 'solid',
			            fgColor: 'Yellow'
					}
				},
				undefined,
				undefined,
				{
					font: {
						size: 18	
					}
				},
				{
					font: {
						italics: true
					},
					border: {
						left: {
							style: "medium",
							color: "blue"
						},
						right: {
							style: "medium",
							color: "blue"
						},
						top: {
							style: "medium",
							color: "blue"
						},
						bottom: {
							style: "medium",
							color: "blue"
						}
					}
				}
			];
			var columns = 10;
			var rows = 300;
			var data = [];

			// data.push(names);

			for(var i = 0; i < rows; i++){
				var temp = [];
				//Deep copy
				//http://stackoverflow.com/questions/597588/how-do-you-clone-an-array-of-objects-in-javascript
				// data.push(JSON.parse(JSON.stringify(shuffle(fruits))))	
				for(var c = 0; c < columns; c++){
					var randFruitNumber = Math.floor(Math.random() * fruits.length);
					temp.push({
						value: fruits[randFruitNumber],
						style: fruitStyles[randFruitNumber]
					})
				}
				data.push(temp);
			}


			$('#dataTextarea').val(JSON.stringify(data))
		};

		</script>
	</body>

</html>